flows/flow.basic.json
[
  {
    "id": "tab-basic",
    "type": "tab",
    "label": "Roomba 自動発進（基本）",
    "disabled": false,
    "info": "毎日 09:00 にドックを約10秒 OFF→ON する最小フロー。\nノード型は node-red-contrib-tapo-new-api の tapo_actions。\ndeviceIp はプレースホルダ <TAPO_IP>。email/password は flow JSON に含めず、import 後に各ノードの Node-RED credentials で設定する。\nversion は実機ファーム（KLAP v2/v3）に合わせて調整する。"
  },
  {
    "id": "inject-0900",
    "type": "inject",
    "z": "tab-basic",
    "name": "毎日 09:00",
    "props": [
      { "p": "payload" }
    ],
    "repeat": "",
    "crontab": "00 09 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 120,
    "wires": [
      ["tapo-off"]
    ]
  },
  {
    "id": "tapo-off",
    "type": "tapo_actions",
    "z": "tab-basic",
    "name": "ドック OFF",
    "deviceIp": "<TAPO_IP>",
    "deviceAlias": "",
    "deviceIpRange": "",
    "searchMode": "ip",
    "command": "off",
    "version": 3,
    "x": 350,
    "y": 120,
    "wires": [
      ["delay-10s"]
    ]
  },
  {
    "id": "delay-10s",
    "type": "delay",
    "z": "tab-basic",
    "name": "10 秒",
    "pauseType": "delay",
    "timeout": "10",
    "timeoutUnits": "seconds",
    "rate": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 540,
    "y": 120,
    "wires": [
      ["tapo-on"]
    ]
  },
  {
    "id": "tapo-on",
    "type": "tapo_actions",
    "z": "tab-basic",
    "name": "ドック ON",
    "deviceIp": "<TAPO_IP>",
    "deviceAlias": "",
    "deviceIpRange": "",
    "searchMode": "ip",
    "command": "on",
    "version": 3,
    "x": 730,
    "y": 120,
    "wires": [
      []
    ]
  }
]
